/* One : Yellow */
/* Yellow (Main) : #ffcc00 */
/* Yellow (Second) : #fff4cc */
/* Yellow (Three) : #cca300 */

/* Two : Dark */
/* Dark (Main) : #323232 */
/* Dark (Second) : #cccccc */
/* Dark (Three) : #0f0f0f */

/* Three : Red */
/* Red (Main) : #cc0000 */
/* Red (Second) : #ff6f6f */
/* Red (Three) : #a30000 */

body{
    background-color: #cccccc;
}

.bg-one{
    background-color: #323232 !important;
}
.bg-two{
    background-color: #ffcc00 !important;
}
.bg-three{
    background-color: #cc0000 !important;
}

.alert-one{
    background-color: #cccccc !important;
    border-color: #323232 !important;
    color: #0f0f0f !important;
}

.alert-two{
    background-color: #fff4cc !important;
    border-color: #ffcc00 !important;
    color: #cca300 !important;
}

.alert-three{
    background-color: #ff6f6f !important;
    border-color: #cc0000 !important;
    color: #a30000 !important;
}

.border-one{
    border-color: #323232 !important;
}

.border-two{
    border-color: #ffcc00 !important;
}
.border-three{
    border-color: #cc0000 !important;
}

.text-one{
    color: #323232 !important;
}

.text-two{
    color: #ffcc00 !important;
}
.text-three{
    color: #cc0000 !important;
}

.btn-one{
    background-color: #323232 !important;
    color: #cca300;
}
